.jp-OutputWidget{{cookiecutter.mime_short_name}}, .jp-DocWidget{{cookiecutter.mime_short_name}} {
  
}

.jp-OutputWidget{{cookiecutter.mime_short_name}} {
  padding-top: 5px;
}

.jp-DocWidget{{cookiecutter.mime_short_name}} {
  padding: 0;
  overflow: auto;
}
